@font-face {
    font-family: "471";
    font-display: auto;
    src: url('../../fonts/471.ttf');
  }
  
  @font-face{
      font-family: "472";
      font-display: auto;
      src: url('../../fonts/472.ttf');
  }
  
  @font-face{
      font-family: "473";
      font-display: auto;
      src: url('../../fonts/473.ttf');
  }
  
  @font-face{
      font-family: "474";
      font-display: auto;
      src: url('../fonts/474.ttf');;
  }


  /* ESTILOS DE CALENDARIO ESCOLAR*/

  #content{
      
    display: flex;
    flex-flow: column wrap;
    width: 95%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 0 rgba(131, 118, 118, 0.8);
    font-family: '474';
  }

  #title{
      width: 100%;
      height: 50px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  #title h3{
      font-size: 40px;

  }

  #img-logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  #img-logo img{
      border-radius: 999px 999px 999px 999px;
  }


  .content{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      max-width: 900px;
      width: 100%;
      font-size: 20px;

  }

  .content h3{
    font-family: '474';
    width: 90%;
    font-size: 27px;

  }
  .content h4{
    font-family: '474';
    width: 90%;
    margin-top: 50px;
    font-size: 27px;

  }

  .content p {
      display: flex;
      flex-flow:row wrap;
      width: 90%;
      margin-bottom: 10px;
      margin-top: 50px;
      font-family: '474';
      font-size: 18px;
  }



  @media (max-width: 767px){

    .my_auto{
      display: none;
    }

    .navbar__link{
      display: none;
    }
  
   
  }
 
