*{
	padding: 0px;
	margin: 0px;
	
}




#iframe{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	height: 900px;
	border: 0px black solid;
	margin-bottom: 60px;
	margin-top: 60px;	
}

.pdf-iframe{
	
	width: 90%;

}



/*RESPOSIVE IFRAME PAGE*/


@media (max-width: 414px ){

	#iframe{
		height: 500px;
	}

}

