*{
	padding: 0px;
	margin: 0px;
	
}


.pages__container h2{
	margin-top: 30px;
	margin-bottom: 30px;
}

.iframe{
	width: 100%;
	min-width: 900px;
	height: 900px;
	border: 0px black solid;
	margin-bottom: 10px;
	resize: none;
	
}




.subframe{
	width: 80%;
}


@media  (max-width: 395px){

	.subframe{

		width: 90%;

	}

	.iframe{
		width: 100%;
	}
}