@font-face {
    font-family: "471";
    font-display: auto;
    src: url('../../fonts/471.ttf');
  }
  
  @font-face{
      font-family: "472";
      font-display: auto;
      src: url('../../fonts/472.ttf');
  }
  
  @font-face{
      font-family: "473";
      font-display: auto;
      src: url('../../fonts/473.ttf');
  }
  
  @font-face{
      font-family: "474";
      font-display: auto;
      src: url('../fonts/474.ttf');
  }


  /*ESTILSO DE PLAN DEW ESTUIDO*/


  #content{

    display: flex;
    flex-flow: column wrap;
    width: 95%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 0 rgba(131, 118, 118, 0.8);
    font-family: '474';
  }

  #plan{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#plan h2{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    color: #0D3273;
    font-weight: bold;
    font-family: '474';
}


  .logo{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   width: 100%;
   margin-bottom: 50px;
  }

  .logo img{

    border-radius: 999px 999px 999px 999px;

  }

  .plan-title{
      
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    margin-top: 60px;
  }

  .parrafo{
    font-family: '474';
    font-size: 20px;
  }

  .plan-title img{
      width: 60px;
      height: 60px;
      border: 2px solid #0270A7;
      border-radius: 999px 999px 999px 999px;

  }

  .plan-title h3{
      margin-left: 30px;
      color: #0D3273;
      font-weight: bold;
  }

  .planes-estudio{
      width: 90%;
      height: auto;
      font-family: '474';
      margin-bottom: 80px;
  }

  .planes-estudio h2{
      margin-top: 30px;
      margin-bottom: 30px;
  }

  .planes-estudio h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 767px){

  .my_auto{
    display: none;
  }

  .navbar__link{
    display: none;
  }

 
}

@media (max-width: 507px){

  .plan-title img{
    width: 50px;
    height: 50px;
    

}

}

  

