body{
	border:0;
	padding:0;
	margin:0;
}
img{
	border:0;
}
a{
	color:#CC0000;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
h3{
	font-family: Arial;
	color: #CC0000;
	font-size: 24px;
}
.publi{
	width:800px;
	margin: 0 auto 0 auto;
	text-align:center;
}.publi-abajo{
	width:750px;
	margin: 10px auto 5px auto;
	text-align:center;
}
.peq{
	font-size: 10px;
}
#cuerpo p.contacto{
	width:350px;
	text-align:left;
	margin-left:35px;
}
#cabecera{
	width:800px;
	margin: 20px auto 0 auto;
	text-align:center;
}
#menu{
	width:500px;
	margin:0 auto 0 auto;
	padding:0;
}
#cuerpo{
	width:800px;
	margin: 5px auto 0 auto;
	font-family:Arial;
	font-size:16px;
}
#cuerpo fieldset{
	width:500px;
	background-color:#EFEFEF;
	border:1px solid #CECECE;
	padding: 5px 0 5px 0;
	margin: 0 auto 0 auto;
}
#cuerpo input{
	border:1px solid #CECECE;
	font-family:Arial;
	font-size:14px;
}
#cuerpo li{
	font-size:12px;
}
#cuerpo td, th{
	font-size:12px;
}
#cuerpo #preview{
	width:728px;
	background-color:#F1F1F1;
	border:1px solid #DDD;	
	padding: 5px 10px 5px 10px;
	margin: 5px auto 5px auto;
	text-align:center;
}
#cuerpo div.cajaport{
	width:668px;
	background-color:#FFFFCE;
	border:1px solid #DEDF42;
	padding: 5px 40px 5px 40px;
	margin: 5px auto 10px auto;
}
#cuerpo div.cajaport p{
	font-size:12px;
	font-family:Arial;
	text-align:left;
}
#cuerpo div.cajaport p.vermiip{
	font-size:10px;
	text-align:right;
}
#cuerpo div.ultimas{
	width:728px;
	background-color:#CEE7F7;
	border:1px solid #CECECE;
	padding: 5px 10px 5px 10px;
	margin: 5px auto 0 auto;
	clear: both;
}
#cuerpo div.ultimas p, label, input{
	font-size:12px;
	font-family:Arial;
	text-align:left;
	/*font-weight:bold;
	color:#DD0000;*/
	margin:0 0 5px 0;
	padding:0;
}
#cuerpo div.ultimas p.contacto{
	width:350px;
	text-align:left;
	margin-left:35px;
}
#cuerpo div.ultimas ul{
	margin:0;
	padding:0;
	list-style:none;
}
#cuerpo div.ultimas li{
	font-size:12px;
	font-family:Arial;
	text-align:left;
}
#pie{
	width:800px;
	margin: 10px auto 0 auto;
	font-family:Arial;
	font-size:10px;
	text-align:center;
}

/*Credits: CSSpplay */
/*URL: http://www.cssplay.co.uk/menus/pro_five */
.menu5 {padding:5px 0 0 1em; margin:0; list-style:none; height:40px; position:relative; background:transparent url(/images/pro_five_0c.gif) repeat-x left bottom; font-size:11px;}
.menu5 li {float:left; height:40px; margin-right:1px;}
.menu5 li a {display:block; float:left; height:40px; line-height:35px; color:#333; text-decoration:none; font-family:Arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 4px; cursor:pointer; background:url(/images/pro_five_0a.gif) no-repeat;}
.menu5 li a strong {float:left; display:block; padding:0 16px 5px 12px; background:url(/images/pro_five_0b.gif) no-repeat right top;}
.menu5 li.current a {color:#000; background:url(/images/pro_five_2a.gif) no-repeat;}
.menu5 li.current a strong {background:url(/images/pro_five_2b.gif) no-repeat right top;}
.menu5 li a:hover {color:#000; background: url(/images/pro_five_1a.gif) no-repeat;}
.menu5 li a:hover strong {background:url(/images/pro_five_1b.gif) no-repeat right top;}
.menu5 li.current a:hover {color:#000; background: url(/images/pro_five_2a.gif) no-repeat; cursor:default;}
.menu5 li.current a:hover strong {background:url(/images/pro_five_2b.gif) no-repeat right top;}
